{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome | Casa de Iligan</title>


<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/vendor/animate/animate.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user-auth/css/main.css' %}">
<!--===============================================================================================-->

</head>

<body>
    {% block signIn %}{% endblock signIn %}
    {% block signUp %}{% endblock signUp %}
	
<!--===============================================================================================-->
	<script src="{% static 'user-auth/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'user-auth/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'user-auth/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'user-auth/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'user-auth/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'user-auth/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'user-auth/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'user-auth/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'user-auth/js/main.js' %}"></script>
</body>

</html>